@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f8fafc; /* This ensures no black bars on the side */
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
}
